.profile-image.owner-of-image-container {
  background-color: transparent;
  position: relative;
}

.profile-owner-of-image:hover {
  transform: none;
  opacity: 100%;
}

.profile-owner-of-image {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: white; */
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.752);
  transition: all 0.4s ease;
}

.profile-owner-of-image:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.752);
}

.profile-image:hover {
  opacity: 100%;
}

.owner-of-image-container:hover .edit-and-delete-button-container {
  opacity: 100%;
}

.edit-and-delete-button-container {
  position: absolute;
  width: fit-content;
  right: 5px;
  top: 0px;
  opacity: 0;
  transition-duration: 0.3s;
}
