.commented-by {
  font-weight: 700;
  transition-duration: 0.2s;
  color: #03bfcb;
}

.commented-by:hover {
  /* color: white; */
  color: #beb5ab;
  transform: scale(1.05);
}

.comment-text {
  padding: 10px 0;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  word-wrap: break-word;
  color: white;
}

.comment-date {
  color: white;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.user-collection-navlink-comment {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1.05em;
}
