.comment-post-button {
  color: white;
  padding: 10px;
  border-radius: 3px;
  width: 300px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.comment-post-button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.comment-post-button {
  background-color: #a8927a;
  border: 1px solid #a8927a;
  margin: 30px 10px 10px 10px;
}

.comment-post-button:hover {
  background-color: green;
  border: 1px solid green;
}

.textarea-for-comment {
  min-width: 280px;
  max-width: 280px;
  min-height: 80px;
  max-height: 80px;
  width: 280px;
}

.comment-user-box {
  width: 280px;
}

.comment-post-button-container {
  display: flex;
  justify-content: center;
}
