.welcome-text {
  padding: 0 10px;
  color: var(--soft-white);
  cursor: default;
  font-weight: 400;
  font-style: italic;
  margin-right: 20px;
  font-size: 18px;
}

.logout-btn {
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  padding: 10px;
  width: 300px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #1396e7;
  border: 1.4px solid #1396e7;
}

.logout-btn:hover {
  color: #fff;
  background-color: #1396e7;
  border: 1px solid #1396e7;
  transform: scale(1.03);
  cursor: pointer;
}

.profile-dropdown {
  list-style: none;
}
