.login-btn {
  border: 1.4px solid rgb(160, 158, 158);
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 0.6rem;
  padding: 3.5px;
  width: 170px;
  font-weight: 700;
  background-color: #090d0e;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: 1px solid #090d0e;
  background-color: #090d0e;
  font-size: 1.07em;
}

.login-btn:hover {
  color: #fff;
  transform: scale(1.06);
  cursor: pointer;
}

.login-btn-disabled {
  font-size: 0.9em;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border-radius: 3px;
  margin-top: 0.6rem;
  padding: 3.5px;
  width: 170px;
  font-weight: 700;
  font-style: italic;
}

.demo-btn {
  border: 1.4px solid #ee5557;
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 0.6rem;
  padding: 2.5px;
  width: 170px;
  font-weight: 700;
  cursor: pointer;
  background-color: whitesmoke;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: 1px solid #ee5557;
  background-color: #ee5557;
  font-size: 1.07em;
}

.demo-btn:hover {
  color: #fff;
  transform: scale(1.06);
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 430px;
  width: 750px;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/logo-images/test-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-form input:focus {
  outline: 0;
}

.login-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in;
}

.login-header {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.login-input {
  color: black;
  padding: 5px;
  width: 154px;
  margin: 5px;
  margin-bottom: 7px;
  font-size: 14px;
}
